h1 {
  text-align: center;
}

.form-control {
  margin: 0.5em;
}

#addBtn {
  margin: 0.5em;
}

#table-head {
  text-align: center;
}

.tsk-complete {
 background-image: 
}

#newToDo {
  width: 1510px;
}

.complete {
  border: green 2px solid;
  text-decoration: line-through;
}